@charset "UTF-8";
.navbar-brand {
    font-family: amatic-sc;
    font-style: normal;
    font-weight: 400;
	color: #7C5E53; 	
	background-color: #FFFFFF;
	text-align: center;	
}
.navbar-nav {
    font-family: baumans;
    font-style: normal;
    font-weight: 400;
    color: #7C5E53; 
    background-color: #FFFFFF;
    text-align: center;	
}
.nav-item {
    font-family: baumans;
    font-style: normal;
    font-weight: 400;
    color: #7C5E53; 
    background-color: #FFFFFF;
    text-align: center;	
}
h1 {
    font-family: amatic-sc;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    text-align: center;	
}
.footer {
    font-size: medium;
    color: #FFFFFF;
    background-color: #070707;
    font-style: normal;
    font-weight: 400;
    font-family: baumans;
    text-align: center;	
}
.display-4 {
    font-family: amatic-sc;
    font-style: normal;
    font-weight: 400;	
}
.food-body {
    font-family: baumans;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.navbar-expand-lg {
    background-color: #FFFFFF;	
}
.nav-link {
	font-family: baumans;
    font-style: normal;
    font-weight: 400;	
	color: #000000;	
}
.navbar-collapse {
    background-color: #FFFFFF;  
}
background {
    background-color: #FFFFFF;	
}
.navbar {
	background-color: #FFFFFF;	
	text-align: center;	
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #7C5E53;    	
}

